*{
    padding: 0;
    margin: 0;
}

#toDo{
    width: 500px;
    margin: 0 auto;
}

.search{
    display: flex;
    margin: 20px 0;
}

.search input{
    width: 100%;
    padding: 4px 8px;
}

.item{
    display: flex;
    justify-content: space-between;
    padding: 5px 2px;
    border: 1px solid #000;
    margin-bottom: 4px;
    font-size: 18px;
}

.containerNote{
    display: flex;
}

.checkbox{
    margin-right: 5px;
}

.containerControler{
    display: flex;
    align-items: center;
}

.containerControler button{
    padding: 2px;
    margin-left: 5px;
}